//footer
footer {
  .city {
    margin: $my 0;

    h1 {
      margin: 15px 10px;

    }

    li {
      display: inline-flex;
      height: 25px;
      padding-right: 17px;
      padding-left: 17px;
      line-height: 25px;
      border-radius: 13px;
      border: 1px solid rgba(0, 0, 0, .2);
      background-color: #fff;
      margin-bottom: 8px;
      margin-left: 7px;

      a {
        color: $text-default;
        background: $bg-light;
        font-size: $font-size;


      }
    }
  }

  .more-about {
    margin: $my 0;
    padding: $py 0;
    border-bottom: 2px solid $bg-secondary;

    p {
      color: $text-default;
      text-align: $text-justufy;
    }
  }

  .newfooter {

    h4 {
      text-align: $text-right;
    }

    li a {
      color: $text-default;
      font-size: ($font-size)-2px;

    }

    .mojvez h4 {
      text-align: center;

    }

    .news {

      h4 {
        text-align: center;
      }

      p {

        color: $text-default;
        font-size: ($font-size)-2px;
        margin: 10px 0;
        text-align: $text-center;
      }
    }

    input {
      width: $size-inputs * 2.7;
      padding: 8px 0;
      float: right;
      @include border-radius(0 3px 3px 0);
      border: 1px solid $bg-secondary;
    }

    button {
      float: right;
      @include them-btn;
      @include border-radius(3px 0 0 3px);
    }

    .social {
      margin: $my*2 0;
      border-top: 2px solid $bg-secondary;

      li {
        display: inline-flex;

        a {
          margin: $my 15px;
          color:darken($bg-default,100%);
          background: $bg-light;
          border: 1px solid #000;
          @include border-radius(100%);
          padding: 8px 15px;
          &:hover{
            color: $them;
          }
        }
      }
    }
  }
}
