//main-style
$direction: rtl;
$bg-default: #f6f6f6;
$text-default: #a8a8a8;
$text-light:#fff;
$them:deeppink;
$font-size:14px;
$width-modal-content:350px;
$height-modal-content:300px;
$height-content:600px;
$height-header:650px;
$my:30px;
$py:30px;
$padding-btn:10px 20px;
$text-right:right;
$text-center:center;
$text-left:left;
$text-justufy:justify;
$size-inputs:100px;
//grid system
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$float-right: right;
$container-padding-right: 15px;
$container-padding-left: 15px;
$container-margin-right: auto;
$container-margin-left: auto;
$row-margin-right: -15px;
$row-margin-left: -15px;
$container-sm-width: 750px;
$container-md-width: 980px;
$container-lg-width: 1170px;
//style
$list-style: none;
$inline-block: inline-block;
//element bg-color
$bg-violet: deeppink;
$bg-info: #3498db;
$bg-success: #2acc71;
$bg-dark: #000000;
$bg-primary: #3a49db;
$bg-warning: #f39c12;
$bg-danger: #e74c3c;
$bg-secondary: #cccccc;
$bg-light: #fff;


$h1: 36px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 14px;
$h6: 12px;

